<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WesBot by Wes Modes</title>

    <!-- Metadata for Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@wmodes">
    <meta name="twitter:title" content="WesBot by Wes Modes">
    <meta name="twitter:description" content="We've brought university educator and artist, Wes Modes, into the digital realm through an advanced neural network. Meet WesBot, an AI-powered chatbot that connects you with Wes to explore the worlds of new media, art, and game design.">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/wesbot-logo.png') }}">

    <!-- Metadata for Facebook -->
    <meta property="og:title" content="WesBot by Wes Modes">
    <meta property="og:description" content="We've brought university educator and artist, Wes Modes, into the digital realm through an advanced neural network. Meet WesBot, an AI-powered chatbot that connects you with Wes to explore the worlds of new media, art, and game design.">
    <meta property="og:image" content="{{ url_for('static', filename='img/wesbot-logo.png') }}">
    <meta property="og:url" content="https://bot.wmod.es/">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      // Create a JavaScript variable and assign the content from the server-side variable.
      var systemContent = {{ system_content|tojson|safe }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism-gruvbox-dark.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>    
    <script src="{{ url_for('static', filename='js/chatbot.js') }}" DEFER></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
</head>
<body>
  <main id="content">
    <nav id="sidebar">
      <div class="logo-box">
        <div id="logo">
          <img src="{{ url_for('static', filename='img/wesbot-logo.png') }}" alt="WesBot Logo">
        </div>
        <h1 class="site-title">WesBot</h1>
        <div id="controls" class="controls2">
          <button class="new-chat-button">+ New Chat</button>
        </div>
      </div>
      <div class="description">
        <p>We've kidnapped your instructor, digitized their brain, and placed them in a sophisticated, multi-layered recurrent neural network.</p>

        <p>In this virtual realm, your instructor, Wes, is brought to life as an AI-powered chatbot. Wes is here to answer your questions and guide you through the intricate world of new media, art, and game design.</p>
      </div>
      <div id="controls" class="controls1">
        <button class="new-chat-button">+ New Chat</button>
      </div>
      <div id="disclaimer">
        Just a privacy note:<br>WesBot does not collect any data. Your conversations are not stored or shared with anyone.
      </div>
      <div id="version">Version: <span class="version">0.2.66</span></div>
    </nav>
    <section id="main-panel">
      <div id="chat-wrapper">
        <div id="chat"></div>
      </div>
      <div id="footer">
        <div id="user-input-wrapper">
          <textarea type="text" id="user-input"></textarea>
          <button id="submit-button">
            <svg width=24 height=24 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="0 0 358 397.5" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd">
              <g><polygon class="fil0" points="358,159 0,0 34,136 159,159 34,182 0,318 "/></g></svg>
          </button>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
