<meta charset="utf-8">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Create a JavaScript variable and assign the content from the server-side variable.
    var systemContent = {{ system_content|tojson|safe }};
</script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
<!-- <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/prism-gruvbox-dark.css') }}">
<script src="https://cdn.jsdelivr.net/npm/marked@10.0.0"></script>    
<script src="{{ url_for('static', filename='js/chatbot.js') }}" DEFER></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">

<!-- Metadata for Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@wmodes">
<meta name="twitter:title" content="WesBot by Wes Modes">
<meta name="twitter:description" content="We've brought university educator and artist, Wes Modes, into the digital realm through an advanced neural network. Meet WesBot, an AI-powered chatbot that connects you with Wes to explore the worlds of new media, art, and game design.">
<meta name="twitter:image" content="{{ url_for('static', filename='img/wesbot-logo.png') }}">

<!-- Metadata for Facebook -->
<meta property="og:title" content="WesBot by Wes Modes">
<meta property="og:description" content="We've brought university educator and artist, Wes Modes, into the digital realm through an advanced neural network. Meet WesBot, an AI-powered chatbot that connects you with Wes to explore the worlds of new media, art, and game design.">
<meta property="og:image" content="{{ url_for('static', filename='img/wesbot-logo.png') }}">
<meta property="og:url" content="https://bot.wmod.es/">